{%  load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>گشتم نبود </title>
</head>
<body><h2 align="center" >  </h2>
   <h1 align="center" > (403)دسترسی فقط برای افراد احراز شده </h1>
   <a href="{% url login %}">رفتن به صفحه لاگین</a>
    <center><img  src="{%  static  'stuffs/img/403dog.jpg'  %}" alt="dogesmile"></center>

   


</body>
</html>