{% extends 'base.html' %}
{%  load static %}
{% load crispy_forms_tags %}


{% block content %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link rel="stylesheet"  href="{%  static  'stuffs/css/addpage.css'  %}">



     
<form method="post">
    {% csrf_token %} 
<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
        <div class="card card-6">
            <div class="card-heading">
                <h2 class="title">adding gpu</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-row">
                        <div class="name">graphics_card_ram_size*</div>
                        <div class="value">
                            <input class="input--style-6" id="graphics_card_ram_size" type="number" name="graphics_card_ram_size" value="{{ graphics_card_ram_size }}" required >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">series*</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-6" id="series" type="text" name="series" value="{{ series }}" required >
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="name">new</div>
                        <div class="value">
                            <div class="input-group">
                                <input id="new" class="input--style-6" type="text" name="new" value="{{ new }}" placeholder="True or False">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">computer_memory_type</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-6" id="computer_memory_type" type="text" name="computer_memory_type" value="{{ computer_memory_type }}"><br/><br/>

                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">issue</div>
                        <div class="value">
                            <div class="input-group">

                                <input id="issue" class="input--style-6" type="text" name="issue" value="{{ issue }}">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">countt*</div>
                        <div class="value">
                            <div class="input-group">
                                <input id="countt" class="input--style-6" type="number" name="countt" value="{{ countt }}" min="0" required >

                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">etc</div>
                        <div class="value">
                            <div class="input-group">
                                <input id="etc" class="input--style-6" type="text" name="etc" value="{{ etc }}">                                
                            </div>
                        </div>
                    </div>
                    
              
                </form>
            </div>
            
            <div class="card-footer">
                

                <button class="btn btn--radius-2 btn--blue-2" type="submit">save</button> 
                
            </div>
            
        </div>
        
              
    </div>
</div>
</form>




{% endblock content %}



