{% extends 'base.html' %}
{%  load static %}
{% load crispy_forms_tags %}


{% block content %}
    <link rel="stylesheet"  href="{%  static  'stuffs/css/deleteconfirm.css'  %}">
    <form method="post">
        {% csrf_token %}
        
        
    
    
    <div class="container-del">
        <div class="box-del">
          <h3>Delete record?</h3>
          <p>Are you sure you want to delete ' {{ gpuone.series }}'?</p>
          <div class="warn_info">
            <h3><i class="fa fa-warning"> Warning</i></h3>
            <p>By deleting this record you can't undo this action.</p>
          </div>
  
          <div class="clearfix">
            <form>
              <input type="button" class="btn1" value="Go back!" onclick="history.back()">
             </form>
           <!-- <button id="222" onclick="history.back()">cancel</button>
            <a  href="{% url 'list_stuffs'%}">cancel</a>
            <button class="btn1" >Cancel</button>-->
            
            <button class="btn2" type="submit" >conform to delete</button>
          </div>
        </div>
      </div>
    </form>
    


      {% endblock content %}