{% extends "base.html" %}
{% load crispy_forms_tags %}
{%  load static %}

{% block content %}
<br/>
        {% for post in postss%}
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">By {{post.author}} <small>{{post.date_posted|date:"Y/F/d"}}</small></div>
            <div class="card-body text-success">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.content}}</p>
            </div>
            <div class="card-footer bg-transparent border-success"><a href="{% url 'post_update' post.id %}"><button type="button" class="btn btn-warning">update</button></a>  <a href="{% url 'post-delete'  post.id %}"><button type="button" class="btn btn-danger">delete</button></a></div>
          </div>
          {% endfor %}
{% endblock content %}